<div class="container">
    <h1 class="h1" style="margin-left: 350px;"> SISTEMA DE COMPRAS</h1>
    <hr/>


    <button (click)="Nuevo()" class="btn btn-danger">Nueva Compra</button>
    <button (click)="Listado()" class="btn btn-success">Listado de Compra</button>
    <button (click)="ListadoArticulo()" class="btn btn-warning">Listado de Compra</button>
    <button (click)="ListadoFacturado()" class="btn btn-danger">Listado de Compra</button>
    <br><br>

    <router-outlet></router-outlet>

    <br><br>


</div>


<router-outlet></router-outlet>

<router-outlet></router-outlet>