
    <div class="col-md-4 offset-md-2">

        <div class="card">
    <div class="card_body">
    
        <form>
            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="articulo.Nombre" class="form-control" >
            </div>
            <div class="form-group">
                <input type="number" name="Cantidad"   [(ngModel)]="articulo.Precio"  placeholder="Cantidad" class="form-control" autofocus>
            </div>
            <button class="btn btn-success btn-block p-2" (click)="GuardarCompra()">
             Agregar al Carrito

            </button>
        </form>
    </div>
    
        </div>
    </div>
    <div class="col-md-4">

<div class="card card-body text-center">
   <h3>Articulo:{{articulo.Nombre}}</h3>
    <h4>Cantidad: {{articulo.Precio}}</h4>

</div>

    </div>
