<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/Alexis.jpg" alt="user" /><span class="hide-menu">Alexis Figueroa</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Salir</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Compras<span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/comprasNuevo">Agregar Compra</a></li>
                        <li><a routerLink="/compras">Listado de Compras</a></li>
                    </ul>
                </li>


                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Articulos<span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/articulosNuevo">Agregar articulo</a></li>
                        <li><a routerLink="/ListaArticulos">Listado de Articulos</a></li>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Reporte<span class="label label-rouded label-themecolor pull-right">1</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/reporte">Reporte</a></li>

                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>